h1{
    color:green;
}






table{
   font-family:fantasy;
   border-collapse:separate;
   border-width 100px;
   border-style:inherit;
   border-color: orchid;
   column-rule-color: aqua;
   background-color:paleturquoise;
   text-decoration-color:snow;
   tab-size:80px;
    
}

tr.alt td{
           background-color:cornflowerblue;
}